.bg {
  background-color: aqua;
}

.hand-icon {
  cursor: pointer;
}

.text-color {
  color: rgb(212, 96, 8);
  text-align: center;
  font-size: 48px;
}

.bg-for-head {
  background-color: rgb(21, 102, 196);
  color: gold;
}

.nav-link.active {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 4px;
}
